main {
    width: calc(100% - 296px);


    .header {
        padding: 32px;
        margin-bottom: 12px;

        h2 {
            margin-right: 50px;
        }
    }

    .container {
        padding: 0 32px;
        overflow-y: auto;
        height: calc(100vh - 150px);
    }

    .assignment_list_drop {
        margin-bottom: 6px;
    }

    .assignment_list {
        li {
            padding: 12px;

            &:hover {
                background: $gray-400;
            }
        }
    }




    .assignment_content {
        padding: 16px 32px 22px 16px;

        .assignment_text {
            img {
                width: 40px;
                height: 40px;
            }

            .btn {
                width: 176px;
            }
        }
    }

    .assignment_btn {
        a {
            &:first-child {
                padding: 8px 32px;

            }
        }
    }
}